body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 3em;
}

nav ul {
    background-color: blueviolet;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 1.5em .5em;

}

nav ul li a {
    color: aliceblue;
    font-weight: bold;
    /* background-color: aqua; */
    text-decoration: none;
    padding: .7em;
}

nav  li a:hover {
    color: black;
    background-color: blue;
}