:root {
    --default-bg-color: #e62847;
}

.ch-10 {
    --padding-size: 2ch;
    --num-ch: 10ch;
    background-color: var(--default-bg-color);
    font-size: 2rem;
    padding: var(--padding-size);
    width: calc(var(--num-ch) + var(--padding-size)*2);
}

.min-max {
    background-color: var(--default-bg-color);
    margin-top: 1rem;
    width: min(300px, 20vh);
    height: max(200px, 25vh);
    outline: 3px solid purple;
    outline-offset: 1rem;
}

h1 {
    font-size: clamp(2rem, 1rem + 3vw, 3rem);
}

/* @font-face {
    font-family: 'Chalet';
    src: url();
} */