body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuadrado {
    background-color: rgb(66, 54, 54);
    width: 200px;
    height: 200px;
    /* position: fixed;
    right: 0;
    bottom: 0; */
    position: relative;
    
    margin: 40px auto;

}

.circulo {
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    position: absolute;
}
.rectangulo {
    width: 300px;
    height: 300px;
    background-color: red;
}

.caja {
    width: 300px;
    height: 300px;
    background-color: salmon;
    position: relative;
    /* margin: auto; */
}

.caja_div {
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}